.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
}

.active {
  color: gray;
}

.inactive {
  color: black;
}
